body {
  background: #ededf3;
}

/*the display at the top*/
.my-name {
  margin-top: 1%;
}

/*the class I gave the main container since 
I am using multiple containers*/
.main-container {
  margin-top: 3%;
}

/*the div container acting as a navigation bar*/
.side-bar {
  margin-top: 1%;
  border: solid black 3px;
  height: 500px;
  padding: 0;
  position: relative;
}

/*my picture in the navigation side bar*/
.my-face {
  border: solid yellow 3px;
  position: relative;
  width: 190px;
  height: 50%;
  margin: 0 auto;
  display: block;
}

/*the content of the page*/
.content {
  margin-top: 1%;
  border: solid green 3px;
}
