body {
  background: #ededf3;
}

/*the display at the top*/
.my-name {
  margin-top: 1%;
}

/*the class I gave the main container since 
I am using multiple containers*/
.main-container {
  margin-top: 3%;
}

/*the div container acting as a navigation bar*/
.side-bar {
  margin-top: 1%;
  border: solid black 3px;
  height: 60%;
  padding: 0;
  position: relative;
}

/*my picture in the navigation side bar*/
.my-face {
  border: solid yellow 3px;
  position: relative;
  width: 80%;
  height: 50%;
  margin-left: 20%;
}

/*the links inside the navigation side bar*/
.links {
  position: relative;
  border: solid purple 3px;
  padding: 0;
  margin-top: 5%;
  margin-left: 20%;
  bottom: 10%;
}

/*the content of the page*/
.content {
  margin-top: 1%;
  border: solid green 3px;
}
