body {
  background: #ededf3;
}

/* The display at the top. Houses my-name */
.jumbotron {
  background: #ededf3;
  margin-top: 50px;
  padding: 20px;
}

/* my name in the display */
.my-name {
  margin-top: 1%;
}

/* span for first name */
#first-name {
  letter-spacing: 20px;
}

/* span for last name */ 
#last-name {
  letter-spacing: 20px;
}

/* the class I gave the main container since 
    I am using multiple containers */
.main-container {
  margin-top: 3%;
}


/* the links in the nav bar */
.nav-item {
  letter-spacing: 6px;
}

.picture {
  border: solid red 3px;
}
/* my picture in the content section */
.my-face {
  border: solid yellow 3px;
  max-width: 100%;
  max-height: 100%;
}


/* the content of the page */
.content {
  margin-top: 0;
  border: solid green 3px;
  padding: 15px;
}

.words {
  display: inline;
}

/* Media queries to help with jumbotron */
@media screen and (max-width: 992px) {
  #dot {
    display: none;
  }

  .display-1 {
    font-size: 70px
  }
}


@media screen and (max-width: 768px) {
  .display-1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 576px) {
  .display-1 {
    font-size: 65px;
  }
}